* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

a {
  text-decoration: none;
}

/* clearfixを追加 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/* フォント変更*/
header, nav, h2, .main-visual, footer {
  font-family: Chalkduster, "Bradley Hand", Courier, "segoe print", sons-serif;
}
/* clearfixここまで*/
header {
  position: relative;
  width: 90%;
  padding: 15px 0;
/*8 で変更*/
  margin: 0 auto;
  text-align: center;
}
/* HEADERタグ内のクラスにのみ反映される*/
header .headline {
  font-size: 32px;
}
/*social tagu*/
.social {
  position: absolute;
  top: 22px;
  right: 22px;
}
.social i {
  display: inline-block;
  margin-left: 20px;
}
/*ここまで*/
.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.main-visual {
  width: 100%;
  height: 300px;
  background-image: url(img/mv.jpg);
  background-size: cover;
/*縦横比維持　全体埋める*/
}
.main-visual-content {
  width: 40%;
  height: 300px;
  background-color: rgba( 0, 0, 0, 0.5);
  text-align: center;
  padding-top: 105px;
/*背景黒半透明*/
}
.main-visual-text {
  color: #fff;
}
.main-visual-name{
  margin-top: 30px;
  /*上側の外側の余白*/
  color: #fff;
}
main {
  width: 800px;
  margin: 0 auto;
  padding: 70px 0;
}
.blog {
  width: 540px;
  float: left;
  margin-right: 30px;
}
.blog-headline {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}
.blog-box {
  padding-top: 50px;
}
.blog-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f7f7f7;
}
.blog-image {
  float: left;
  height: 180px;
}
.blog-text-headline{
  padding-bottom: 15px;
}
.blog-text {
  float: left;
  padding: 30px 0 0 25px;
}
.blog-date {
  font size: 12px;
  display: inline-block;
}
.category {
  display: inline-block;
  padding: 5px 8px;
  background-color: #acabab;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
}

/*8  演習*/
.pagination {
 /* margin: 0 auto;    間違い*/
  text-align: center;
  padding-top: 50px;
}
.pagination-p {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  color: #fff;
  /*font-color: #000;  間違い*/
  background-color: #acabab;
  border-radius: 3px;
  line-height: 30px;
}

/*8 ここから*/
.sidebar {
  width: 230px;
  float: left;
}
.sidebar-headline,.instagram-headline,.categories-headline {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}

.sidebar-contents {
  padding: 50px 0;

}

.popular-text,.categories-text {
  padding-bottom: 5px;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 5px;

}

.popular-text:last-child,.categories-text:last-child {
  margin: 0;
  padding: 0;
  border: none;

}

.instagram-box {
  float: left;
  width: 110px;
  padding-top: 110px;
  background-size: cover;
  background-position: center;

}
.instagram-box:nth-child(odd) {
  margin: 0 10px 10px 0;
}
.instagram-box:nth-child(1) {
  background-image: url(img/airport.jpg);
}
.instagram-box:nth-child(2) {
  background-image: url(img/japan.jpg);
}
.instagram-box:nth-child(3) {
  background-image: url(img/snow.jpg);
}
.instagram-box:nth-child(4) {
  background-image: url(img/japan2.jpg);
}
.instagram-box:nth-child(5) {
  background-image: url(img/lake.jpg);
}
.instagram-box:nth-child(6) {
  background-image: url(img/road.jpg);
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  padding: 50px 0;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}

/*メディアクエリ設定*/
@media screen and (max-width:768px) {

header {
  width: 100%;
}
.social {
  display: none;
}
.nav-list-item {
  display: block;
  padding-bottom: 5px;
}

.main-visual-content {
  width: 100%;
  padding-top: 100px;
}

main {
  width: 100%;
  padding-top: 45px;
}
.blog {
  width: 100%;
}
.blog-box {
  width: 100%;
  padding: 40px 10px 0 10px;
}
.blog-image {
  width: 120px;
  height: 120px;
}
.blog-item {
  padding-bottom: 5px;
}
.category {
  display: none;
}

.sidebar {
  width: 100%;
  padding: 0 10px 0 10px;
}
.sidebar-contents {
  padding-left: 5px
}

.instagram-box:nth-child(odd) {
  margin: 5px;
}

.instagram-box  {
  width: 90px;
  padding: 90px;
  margin: 5px;
}
.categories-content {
  padding: 40px 0;
}
.pagination {
  padding: 30px 0;
  margin-bottom: 10px;
}
}
